html {
  scroll-behavior: smooth;
}
#navbar {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px 0; /* creates height */
  z-index: 1000; /* stays above other items */
  /* background: linear-gradient(135deg, #74abe2, #5563de); */
}

.nav-link {
  color: black;
  font-weight: 500;
}
.nav-link:hover {
  color: rgb(0, 57, 246);
  /* transform: translateY(-5px); */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

body {
  background: linear-gradient(135deg, #74abe2, #5563de);
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
/* Buttons */

.btn {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  font-size: larger;
  transition: all 0.4s ease;
  border-radius: 15px;
  background: black;
  color: white;
}

#p {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  font-size: larger;
  transition: all 0.4s ease;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 400px;
  padding-bottom: 10px;
}

/* Hover animation fixed */
#p:hover,
#ex:hover,
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
/* about me */
#ex {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  font-size: larger;
  transition: all 0.4s ease;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  display: block;
}
#ex .display-1 {
  font-weight: bolder;
}
#h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideUp 2s ease-in forwards;

  /* background: linear-gradient(135deg, #7fe0f4, #5565de); */
}
.project-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  font-size: larger;
  transition: all 0.3s ease;
}
/* #Projects {
  margin-top: 250px;
} */
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(135deg, #93e586, #1be9f4); */
}

h2 {
  text-align: center;
}
#about {
  padding-top: 10px;
}
/* Images */
.profile-section {
  margin-top: 350px;
}

.profile-img {
  width: 250px;
  height: 200px;
  border-radius: 50px 0px 50px 0px;
  object-fit: cover;
  /* border: 4px solid #fff;  */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.profile-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  animation: glowBorder 5s infinite alternate;
}
@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glowBorder {
  from {
    box-shadow: 0 0 5px #00f, 0 0 30px #00f, 0 0 45px #00f;
    border-color: rgb(255, 42, 0);
  }
  to {
    box-shadow: 0 0 5px #0ff, 0 0 30px #0ff, 0 0 45px #0ff;
    border-color: rgb(115, 246, 7);
  }
}
/* Experience */

#tool {
  width: 100%;
  justify-content: end;
  align-items: end;
}
#about,
#ex,
#skills {
  scroll-margin-top: 80px; /* Adjust based on navbar height */
}
#projects {
  scroll-margin-top: 80px; /* Adjust based on navbar height */
}
/* Skills */
.container-box {
  /* width: 100%; */
  /* max-width: 1100px; */
  border-radius: 20px;
  padding: 40px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  color: white;
}

.skill-item {
  background: rgba(255, 255, 255, 0.15);
  padding: 14px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}

.skill-item i {
  display: block;
  font-size: 22px;
  margin-bottom: 6px;
}

/* Hover Bounce */
.skill-item:hover {
  animation: bounce 0.5s;
  transform: scale(1.08);
  background: rgba(255, 255, 255, 0.4);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  70% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 15px;
}

.exp-title {
  font-size: 45px;
  font-weight: 800;
}

.exp-sub {
  font-size: 18px;
  font-weight: 500;
}
